.centered-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 400px;
}

body, input, button {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #202124;
}
body {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 0.5rem;
}

.left-side, .right-side {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.nine-dots{
    width: 1.5rem;
    height: 1.5rem;
}

.profile-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 100%
}

.google-logo {
    width: 300px;
    height: auto;
}

.search-icon{
    width: 1rem;
    height: 1rem;
}

.mic,
.camera {
    width: 1.5rem;
    height: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.15s ease;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.middle-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1.2rem;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.search-form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfe1e5;
    gap: 1rem;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
}

.search-form label {
    display: none;
}

.search-form input{
    width: 27rem;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.search-form button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: var(--qR8X0);
    font-optical-sizing: none;
    font-size: 14px;
    font-weight: var(--Oycjt);
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    padding: 1rem 1.5rem;
    margin-top: 10rem
}

.bottom-section a{
    margin: 0 1rem;
}